@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    :root{
        --tl-blue: #1d305f;
        --tl-red: #c81e54;
        --pp-blue-light: #1a7190;
        --pp-cyan-light: #b2e4e4;
        --pp-blue: #003068;
        --pp-yellow: #FFD500;
        --pp-cyan: #009999;
        --pp-lime: #97B42A;
        --pp-green: #00883B;
        --pp-red: #DC2626;
        --pp-lime-trans: #96b42a62;
        --pp-yellow-light: #fff3ba;
        --pp-red-light: #ffafaf;
        --pp-base-text-color: #374151;
        --pp-faint-text-color: #606c80;
        --pp-btn-text-dark-color: #1F2937;
        --pp-btn-text-light-color: #FFFFFF;
        --pp-frc-resp-good-color: #92d050;
        --pp-frc-resp-mid-color: #ffc000;
        --pp-frc-resp-bad-color: #f17484;
        --pp-font-serif: 'Times New Roman', Times, 'Liberation Serif', serif;
        --pp-font-sans: Arial, 'Liberation Sans', sans-serif;
    }

    .pp-bg-cyan-light {background: var(--pp-cyan-light);}
    .pp-bg-blue {background-color: var(--pp-blue);}
    .pp-bg-yellow {background-color: var(--pp-yellow);}
    .pp-bg-cyan {background-color: var(--pp-cyan);}
    .pp-bg-lime {background-color: var(--pp-lime);}
    .pp-bg-lime-trans{background-color: var(--pp-lime-trans);}
    .pp-bg-green {background-color: var(--pp-green);}
    .pp-bg-red {background-color: var(--pp-red);}
    .pp-bg-table-hover {background-color: var(--pp-yellow-light);}
    .pp-bg-table-del {background-color: var(--pp-red-light);}

    .tl-fg-blue {color: var(--tl-blue);}
    .pp-fg-blue-light {color: var(--pp-blue-light);}
    .pp-fg-blue {color: var(--pp-blue);}
    .pp-fg-yellow {color: var(--pp-yellow);}
    .pp-fg-cyan {color: var(--pp-cyan);}
    .pp-fg-lime {color: var(--pp-lime);}
    .pp-fg-green {color: var(--pp-green);}
    .pp-fg-red {color: var(--pp-red);}
    .pp-fg-text-base {color: var(--pp-base-text-color);}
    .pp-fg-text-faint {color: var(--pp-faint-text-color);}
    .pp-fg-btn-dark {color: var(--pp-btn-text-dark-color);}
    .pp-fg-btn-light {color: var(--pp-btn-text-light-color);}

    .pp-br-cyan-light {border-color: var(--pp-cyan-light);}

    .pp-font-serif {font-family: var(--pp-font-serif);}
    .pp-font-sans {font-family: var(--pp-font-sans);}
    .pp-font-def {@apply font-sans;}

    .pp-darker {filter: brightness(85%);}
    .pp-hover {@apply hover:pp-darker transition;}
    .pp-disabled {@apply disabled:cursor-not-allowed disabled:grayscale disabled:pp-fg-text-faint;}
    .pp-circle {border-radius: 50%;}
    .pp-shadow {box-shadow: 1px 6px 23px 5px rgba(0,0,0,0.17);}

    .pp-text {@apply text-base pp-fg-text-base;}
    .pp-selection {@apply selection:pp-bg-cyan selection:pp-fg-yellow;}
    .pp-link {@apply pp-fg-cyan underline cursor-pointer pp-hover;}
    .pp-link-faint {@apply pp-fg-text-faint pp-hover underline decoration-dotted italic cursor-pointer;}

    .pp-title {@apply text-3xl font-bold pp-text;}
    .pp-title-small {@apply text-2xl pp-title;}
    .pp-title-smaller {@apply text-lg pp-title;}

    html {@apply scroll-pt-28 scroll-pb-12;}
    body {@apply pp-selection;}

    footer {@apply flex items-center justify-center gap-3 w-full py-2 px-4 bg-gray-100 border-t border-gray-300 bg-opacity-50;}
    .footer-disclaimer img {@apply h-10 float-left mr-2;}
    .footer-disclaimer{
        @apply flex items-center pp-text text-xs font-bold text-justify pp-font-serif;
        max-width: 80rem;
    }
    @media (max-width: 1000px){
        .footer-disclaimer {@apply block;}
        .footer-disclaimer img {@apply my-1;}
    }

    a {@apply cursor-pointer;}

    h1 {@apply pp-title;}
    h2 {@apply pp-title-small;}
    h3 {@apply pp-title-smaller;}

    form {@apply grid grid-cols-1 gap-5;}
    .pp-required+label::after {content: "*"; @apply ml-1 pp-fg-red;}
    .pp-required+label:hover::after {content: "*required";}
    form.pp-mark-required input:required,
    form.pp-mark-required select:required {@apply pp-required;}
    form legend {@apply pp-title justify-self-center;}
    .small-legend {@apply underline mb-2 pp-title-smaller;}
    form fieldset > legend {@apply small-legend;}
    form > div, form > fieldset {@apply grid grid-cols-1 gap-4;}

    @keyframes onAutoFill {}                                /* Dummy animation for JS hook */
    input:-webkit-autofill {animation-name: onAutoFill;}    /* Expose autofill event hook for JS */

    .pp-input input, .pp-input select, .pp-checkbox input {@apply border-gray-400 disabled:hover:border-gray-400 hover:border-gray-500 focus:border-transparent focus:pp-br-cyan-light pp-disabled;}
    .pp-input input:not([type="radio"]), .pp-input select {@apply rounded-md;}
    .pp-checkbox input {@apply rounded;}
    .pp-input input[type="text"], .pp-input input[type="email"], .pp-input input[type="password"] {@apply cursor-text disabled:cursor-default;}
    .pp-checkbox input, .pp-checkbox label, .pp-input select, .pp-input input[type="date"], .pp-input input[type="radio"], .pp-input input[type="radio"] + span, .pp-btn {@apply cursor-pointer disabled:cursor-default;}
    .pp-input p {@apply cursor-default;}
    .pp-btn-common {@apply pp-disabled font-bold enabled:pp-hover;}
    .pp-btn {@apply pp-btn-common text-base rounded-lg px-5 py-2.5 gap-1 flex items-center justify-center;}
    .pp-btn-blue, .pp-btn-cyan, .pp-btn-lime, .pp-btn-green, .pp-btn-red {@apply pp-btn pp-fg-btn-light;}
    .pp-btn-yellow {@apply pp-btn pp-fg-btn-dark;}
    .pp-btn-blue {@apply pp-bg-blue;}
    .pp-btn-yellow {@apply pp-bg-yellow;}
    .pp-btn-cyan {@apply pp-bg-cyan;}
    .pp-btn-lime {@apply pp-bg-lime;}
    .pp-btn-green {@apply pp-bg-green;}
    .pp-btn-red {@apply pp-bg-red;}

    .bg-dots-darker {background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");}
    .bg-img {
        @apply bg-no-repeat bg-center bg-cover bg-fixed;
        background-image: url("../img/misc/Background-Compressed.jpg");
    }

    .pp-outer-container {@apply relative flex flex-col min-h-screen bg-gray-100 bg-center bg-img;}
    .pp-middle-container {@apply flex flex-col items-center justify-center h-full grow pt-20;}
    .pp-inner-container {@apply sm:min-w-[500px] grid grid-cols-1 gap-5 p-6 mx-3 mb-6 scale-100 bg-white rounded-lg shadow-2xl max-w-7xl from-gray-700/50 via-transparent shadow-gray-500/20;}

    .pp-table {@apply bg-white rounded-md shadow-md pp-text text-left;}
    .pp-table th {@apply bg-gray-200;}
    .pp-table th:first-child {border-top-left-radius: 0.375rem;}
    .pp-table th:last-child {border-top-right-radius: 0.375rem;}
    .pp-table tr > * {@apply py-3 px-3;}
    .pp-table tr > *:first-child {@apply pl-5;}
    .pp-table tr > *:last-child {@apply pr-5;}
    .pp-table tbody tr {@apply hover:pp-table-hover border-t border-gray-300;}
    .pp-table tbody tr:nth-child(even) {@apply hover:pp-table-hover bg-gray-50;}
    .pp-table tr:last-child td:first-child {border-bottom-left-radius: 0.375rem;}
    .pp-table tr:last-child td:last-child {border-bottom-right-radius: 0.375rem;}
    .pp-table button {@apply pp-table-btn;}
    .pp-table-btn {@apply pp-btn-common text-sm py-1 px-2 rounded;}
    .pp-table-btn-blue, .pp-table-btn-cyan, .pp-table-btn-lime, .pp-table-btn-green, .pp-table-btn-red {@apply pp-table-btn pp-fg-btn-light;}
    .pp-table-btn-yellow, .pp-table-btn-lime-trans {@apply pp-table-btn pp-fg-btn-dark;}
    .pp-table-btn-blue {@apply pp-bg-blue;}
    .pp-table-btn-yellow {@apply pp-bg-yellow;}
    .pp-table-btn-cyan {@apply pp-bg-cyan;}
    .pp-table-btn-lime {@apply pp-bg-lime;}
    .pp-table-btn-green {@apply pp-bg-green;}
    .pp-table-btn-red {@apply pp-bg-red;}
    .pp-table-btn-lime-trans {@apply pp-bg-lime-trans;}
    .pp-table-hover {@apply pp-bg-table-hover;}
    .pp-table-del {@apply pp-bg-table-del;}

    .pp-analysis-list-table tr > *:nth-last-child(-n+3) {@apply text-center;}
    .pp-analysis-list-table tr > td:last-child {@apply flex flex-row flex-wrap gap-1 justify-end;}
    .pp-analysis-list-table col:nth-child(3) {@apply w-[146px];}
    .pp-analysis-list-table col:nth-last-child(-n+3):not(:last-child) {@apply w-[170px];}
    .pp-analysis-list-table col:last-child {@apply w-[206px];}

    .circle-img {@apply pp-circle w-40 pp-shadow;}

    #menubar, #menubar > * {@apply flex flex-row items-center;}
    #menubar {@apply fixed top-0 w-full z-50 justify-between py-2 px-4 bg-gray-100 border-b border-gray-300;}
    #menubar > * {@apply gap-6;}
    .menubar-logos img {@apply h-12 transition-transform;}
    .menubar-logos a:hover img {@apply scale-90;}
    .menubar-menu {@apply hidden sm:flex sm:items-center;}
    .menubar-menu-trigger {@apply inline-flex flex-row items-center gap-2 pl-4 pr-2 py-2 text-base leading-4 pp-text font-bold transition duration-150 ease-in-out pp-bg-cyan-light border border-transparent rounded-md hover:brightness-95 focus:outline-none;}
    .menubar-menu-trigger:focus {@apply pp-darker;}
    .menubar-menu-trigger:focus img {@apply rotate-180;}

    .toastify-customizations {@apply top-20 z-40;}

    .powered-by-logo {@apply absolute top-0 right-0 z-10 flex flex-col gap-1 px-4 pt-1 pb-3 bg-white tl-fg-blue w-60 text-left pp-title-smaller rounded-bl-lg shadow-lg transition-all;}
    .powered-by-logo span {@apply transition-opacity;}
    .powered-by-logo a {@apply transition-transform;}
    .powered-by-logo:hover {@apply w-64;}
    .powered-by-logo:hover span {@apply opacity-0;}
    .powered-by-logo:hover a {@apply -translate-y-3;}

    .welcome-pp-logo {@apply h-40 flex flex-col items-center justify-between text-center;}
    .welcome-pp-logo * {@apply transition-all;}
    .welcome-pp-logo img {
        @apply p-1;
        width: 27rem;
    }
    .welcome-pp-logo a:hover img {width: 28rem;}
    .welcome-pp-logo a:hover + h3 {@apply scale-95 origin-top;}

    .consortium-logos {@apply flex flex-row flex-wrap items-center justify-center gap-5 py-1;}
    .consortium-logos img {@apply max-h-[4.5rem] max-w-[6.0rem] block w-full h-auto;}

    .refilled-data {@apply text-gray-500 italic;}

    .sector-select img {@apply transition-transform;}
    .sector-select button:hover img {@apply scale-95;}

    #offscreen-chart-container {@apply fixed invisible w-1 h-1 overflow-scroll;}
    #offscreen-chart-container > div {@apply w-[1900px];}   /* controls downloaded chart size (not including added margins: defMargin @ ChartDLBtn component etc) */
}
