@layer components{
    .pp-bg-cyan-light {background: var(--pp-cyan-light);}
    .pp-bg-blue {background-color: var(--pp-blue);}
    .pp-bg-yellow {background-color: var(--pp-yellow);}
    .pp-bg-cyan {background-color: var(--pp-cyan);}
    .pp-bg-lime {background-color: var(--pp-lime);}
    .pp-bg-lime-trans{background-color: var(--pp-lime-trans);}
    .pp-bg-green {background-color: var(--pp-green);}
    .pp-bg-red {background-color: var(--pp-red);}
    .pp-bg-table-hover {background-color: var(--pp-yellow-light);}
    .pp-bg-table-del {background-color: var(--pp-red-light);}

    .tl-fg-blue {color: var(--tl-blue);}
    .pp-fg-blue-light {color: var(--pp-blue-light);}
    .pp-fg-blue {color: var(--pp-blue);}
    .pp-fg-yellow {color: var(--pp-yellow);}
    .pp-fg-cyan {color: var(--pp-cyan);}
    .pp-fg-lime {color: var(--pp-lime);}
    .pp-fg-green {color: var(--pp-green);}
    .pp-fg-red {color: var(--pp-red);}
    .pp-fg-text-base {color: var(--pp-base-text-color);}
    .pp-fg-text-faint {color: var(--pp-faint-text-color);}
    .pp-fg-btn-dark {color: var(--pp-btn-text-dark-color);}
    .pp-fg-btn-light {color: var(--pp-btn-text-light-color);}

    .pp-br-cyan-light {border-color: var(--pp-cyan-light);}
}
