@font-face {
    font-family: Figtree;
    src: url(../fonts/Figtree/Figtree-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Figtree;
    src: url(../fonts/Figtree/Figtree-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Figtree;
    src: url(../fonts/Figtree/Figtree-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-SemiBold.ttf);
    font-weight: 600;
}

:root{
    --pp-font-serif: 'Times New Roman', Times, 'Liberation Serif', serif;
    --pp-font-sans: Arial, 'Liberation Sans', sans-serif;
    --pp-font-def: Figtree, Inter, ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, 'Liberation Sans', sans-serif;
}

@layer components{
    .pp-font-serif {font-family: var(--pp-font-serif);}
    .pp-font-sans {font-family: var(--pp-font-sans);}
    .pp-font-def {font-family: var(--pp-font-def);}
}
